:root {
  --primary-color: #9e0059;
  --secondary-color: #390099;
  --text-color: #333;
  --primary-bg-color: #faf3dd;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  text-align: center;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
}
h2 {
  font-size: 30px;
  padding-bottom: 15px;
  color: var(--secondary-color);
  font-weight: 600;
}
article {
  display: block;
  text-align: left;
  max-width: 100%;
  width: 100%;
  font-size: 18px;
}
a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

p {
  padding-bottom: 10px;
  line-height: 1.2;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 100%;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 768px) {
  h2 {
    font-size: 50px;
  }
  .container {
    max-width: 600px;
  }
}
